# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Debug files
*.pdb

# MakeFiles
Make*

# MOC FILES
moc_*

# temp files
*.swp
*~

#build directory
build/
Win32/
ipch/

#visual studio files
*.vcxproj*
*.sdf
*.suo
*.opensdf
*.sln